USE [master]
GO

CREATE DATABASE [bd_transaction]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_transaction', FILENAME = N'/var/opt/mssql/data/bd_transaction.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_transaction_log', FILENAME = N'/var/opt/mssql/data/bd_transaction_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_transaction].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_transaction]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 01/14/26 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_by] [varchar](255) NOT NULL,
	[creation_date] [datetime2](6) NULL,
	[modification_date] [datetime2](6) NULL,
	[modified_by] [varchar](255) NOT NULL,
	[account_number] [varchar](50) NOT NULL,
	[account_type] [varchar](20) NOT NULL,
	[current_balance] [numeric](15, 2) NOT NULL,
	[initial_balance] [numeric](15, 2) NOT NULL,
	[status] [bit] NOT NULL,
	[client_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 01/14/26 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[password] [varchar](100) NOT NULL,
	[status] [bit] NOT NULL,
	[person_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persons]    Script Date: 01/14/26 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persons](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_by] [varchar](255) NOT NULL,
	[creation_date] [datetime2](6) NULL,
	[modification_date] [datetime2](6) NULL,
	[modified_by] [varchar](255) NOT NULL,
	[address] [varchar](200) NOT NULL,
	[age] [int] NOT NULL,
	[gender] [varchar](20) NOT NULL,
	[identification] [varchar](20) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 01/14/26 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_by] [varchar](255) NOT NULL,
	[creation_date] [datetime2](6) NULL,
	[modification_date] [datetime2](6) NULL,
	[modified_by] [varchar](255) NOT NULL,
	[amount] [numeric](15, 2) NOT NULL,
	[balance] [numeric](15, 2) NOT NULL,
	[date] [datetime2](6) NOT NULL,
	[description] [varchar](200) NOT NULL,
	[transaction_type] [varchar](20) NOT NULL,
	[account_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[clients] ([password], [status], [person_id]) VALUES (N'$2a$10$7oBrZlX6m6sJi.FnfT1xeedrjHJPAX7NQXYmQCy.ySoht9lamkZC2', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[persons] ON 

INSERT [dbo].[persons] ([id], [created_by], [creation_date], [modification_date], [modified_by], [address], [age], [gender], [identification], [name], [phone]) VALUES (1, N'System', CAST(N'2026-01-14T01:11:03.8586340' AS DateTime2), CAST(N'2026-01-14T01:11:03.8586340' AS DateTime2), N'System', N'Default Address', 30, N'M', N'1317706123', N'Initial Client', N'0999999999')
SET IDENTITY_INSERT [dbo].[persons] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6kplolsdtr3slnvx97xsy2kc8]    Script Date: 01/14/26 1:14:50 ******/
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [UK6kplolsdtr3slnvx97xsy2kc8] UNIQUE NONCLUSTERED 
(
	[account_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKq9hehhi7b6xsv7sp8cpb4mo21]    Script Date: 01/14/26 1:14:50 ******/
ALTER TABLE [dbo].[persons] ADD  CONSTRAINT [UKq9hehhi7b6xsv7sp8cpb4mo21] UNIQUE NONCLUSTERED 
(
	[identification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FKgymog7firrf8bnoiig61666ob] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([person_id])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FKgymog7firrf8bnoiig61666ob]
GO
ALTER TABLE [dbo].[clients]  WITH CHECK ADD  CONSTRAINT [FKhrpdrocrsy0i9vq71swv5kf1j] FOREIGN KEY([person_id])
REFERENCES [dbo].[persons] ([id])
GO
ALTER TABLE [dbo].[clients] CHECK CONSTRAINT [FKhrpdrocrsy0i9vq71swv5kf1j]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK20w7wsg13u9srbq3bd7chfxdh] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK20w7wsg13u9srbq3bd7chfxdh]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD CHECK  (([account_type]='CURRENT' OR [account_type]='SAVINGS'))
GO
ALTER TABLE [dbo].[persons]  WITH CHECK ADD CHECK  (([age]>=(18) AND [age]<=(120)))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([transaction_type]='TRANSFER' OR [transaction_type]='WITHDRAWAL' OR [transaction_type]='DEPOSIT'))
GO
USE [master]
GO
